it.coranto.comuni/schemas/nested/COMAccount.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:element name="COMAccounts" type="OpenCmsCOMAccounts"/>

	<xsd:complexType name="OpenCmsCOMAccounts">
		<xsd:sequence>
			<xsd:element name="COMAccount" type="OpenCmsCOMAccount" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMAccount">
		<xsd:sequence>
			<xsd:element name="AccountType" 		type="OpenCmsString" 		minOccurs="1" 		maxOccurs="1" />	
			<xsd:element name="Link" 		type="OpenCmsVarLink" 		minOccurs="1" 		maxOccurs="1" />	
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>


	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<FieldSettings>
				<Setting>
					<PropertyName>AccountType</PropertyName>
					<Widget>SelectorWidget</Widget>
					<WidgetConfig>whatsapp:Whatsapp|telegram:Telegram|skype:Skype|linkedin:Linkedin|twitter:Twitter</WidgetConfig>
					<Display>singleline</Display>
				</Setting>
				<Setting>
					<PropertyName>Link</PropertyName>
					<Widget>string</Widget>
				</Setting>  			
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation> 

</xsd:schema>