it.coranto.comuni/schemas/nested/COMContactTypeOption.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMAccount.xsd" />

	<xsd:element name="COMContactTypeOptionData" type="OpenCmsCOMContactTypeOptionData"/>

	<xsd:complexType name="OpenCmsCOMContactTypeOptionData">
		<xsd:sequence>
			<xsd:element name="COMContactTypeOption" type="OpenCmsCOMContactTypeOption" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMContactTypeOption">
		<xsd:choice minOccurs="0" maxOccurs="1">
			<xsd:element name="Email" type="OpenCmsString" minOccurs="0"  maxOccurs="1"/>
			<xsd:element name="PhoneNumber" type="OpenCmsString" minOccurs="0"  maxOccurs="1" />
			<xsd:element name="Fax" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Url" type="OpenCmsVarLink" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Pec" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Account" type="OpenCmsCOMAccount" minOccurs="0" maxOccurs="1" />
		</xsd:choice>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>	
			<FieldSettings>
				<Setting>
					<PropertyName>Email</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{0,255}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Massimo 255 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>PhoneNumber</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{0,255}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Massimo 255 caratteri</Error>
				</Setting>
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>


