it.coranto.comuni/schemas/nested/COMLinkNested.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:element name="COMLinkNesteds" type="OpenCmsCOMLinkNesteds"/>

	<xsd:complexType name="OpenCmsCOMLinkNesteds">
		<xsd:sequence>
			<xsd:element name="COMLinkNested" type="OpenCmsCOMLinkNested" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMLinkNested">
		<xsd:sequence>
			<xsd:element name="Link" 		type="OpenCmsVarLink" 		minOccurs="1" 		maxOccurs="1" />	
			<xsd:element name="LinkTitle" 		type="OpenCmsString" 		minOccurs="0" 		maxOccurs="1" />	
			<xsd:element name="LinkTarget" 		type="OpenCmsString" 		minOccurs="1" 		maxOccurs="1" />	
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>


	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<FieldSettings>
				<Setting>
					<PropertyName>Link</PropertyName>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>  
				<Setting>
					<PropertyName>LinkTitle</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{0,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Massimo 70 caratteri</Error>
				</Setting>   
				<Setting>
					<PropertyName>LinkTarget</PropertyName>
					<Widget>SelectorWidget</Widget>
					<WidgetConfig>_self*:Stessa scheda|_blank:Nuova scheda</WidgetConfig>
					<Display>singleline</Display>
				</Setting>
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation> 

</xsd:schema>