it.coranto.comuni/schemas/nested/COMPosition.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="COMPositionData" type="OpenCmsCOMPositionData"/>

	<xsd:complexType name="OpenCmsCOMPositionData">
		<xsd:sequence>
			<xsd:element name="COMPosition" type="OpenCmsCOMPosition" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMPosition">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Type" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Abstract" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StartOfAssignment" type="OpenCmsDateTime" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace"/>
			</resourcebundles>
			<layouts>
				<layout element="StartOfAssignment" widget="datetime" configuration='{fixedTime: "00:00"}' />
			</layouts>
			<defaults>
				<default element="StartOfAssignment" value="${currenttime}"/>
			</defaults>
			<FieldSettings>
				<Setting>
					<PropertyName>Title</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{1,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 70 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Type</PropertyName>
					<Widget>SelectorWidget</Widget>
					<WidgetConfig>politico:Politico|amministrativo:Amministrativo|altro:Altro</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>StartOfAssignment</PropertyName>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Warning</RuleType>
					<Error>Obbligatorio per i politici, facoltativo per il personale amministrativo</Error>
				</Setting>
				<Setting>
					<PropertyName>Abstract</PropertyName>
					<Widget>TextareaWidget</Widget>
					<RuleRegex>.{0,160}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Massimo 160 caratteri</Error>
				</Setting>
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>