it.coranto.comuni/schemas/COMArgumentList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="COMArgumentListData" type="OpenCmsCOMArgumentListData"/>

	<xsd:complexType name="OpenCmsCOMArgumentListData">
		<xsd:sequence>
			<xsd:element name="COMArgumentList" type="OpenCmsCOMArgumentList" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMArgumentList">
		<xsd:sequence>
			<xsd:element name="Argument" type="OpenCmsString" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Argument" mapto="property:Title" />
				<mapping element="Argument" mapto="urlName" />
			</mappings>	
			<FieldSettings>
				<Setting>
					<PropertyName>Argument</PropertyName>
					<Widget>it.coranto.widgets.DynamicMultiSelectWidget</Widget>
					<WidgetConfig>folderName=/.content/COMArgument/|keyName=Title|valueName=Title|language=it </WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>È necessario selezionare almeno un argomento</Error>
				</Setting>
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>