it.coranto.comuni/schemas/COMContactPoint.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMContactTypeOption.xsd" />

	<xsd:element name="COMContactPointData" type="OpenCmsCOMContactPointData"/>

	<xsd:complexType name="OpenCmsCOMContactPointData">
		<xsd:sequence>
			<xsd:element name="COMContactPoint" type="OpenCmsCOMContactPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMContactPoint">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Type" type="OpenCmsCOMContactTypeOption" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
				<mapping element="Title" mapto="urlName" />
			</mappings>	
			<FieldSettings>
				<Setting>
					<PropertyName>Title</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{0,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Massimo 70 caratteri</Error>
				</Setting>
			</FieldSettings>
			<searchsettings>
				<searchsetting element="Type/Email">
					<solrfield targetfield="Email" />
				</searchsetting>
				<searchsetting element="Type/PhoneNumber">
					<solrfield targetfield="PhoneNumber" />
				</searchsetting>
				<searchsetting element="Type/Fax">
					<solrfield targetfield="Fax" />
				</searchsetting>
				<searchsetting element="Type/Url">
					<solrfield targetfield="Url" />
				</searchsetting>
				<searchsetting element="Type/Pec">
					<solrfield targetfield="Pec" />
				</searchsetting>
				<searchsetting element="Type/Account/AccountType">
					<solrfield targetfield="AccountType" />
				</searchsetting>
				<searchsetting element="Type/Account/Link">
					<solrfield targetfield="Link" />
				</searchsetting>
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>