it.coranto.comuni/schemas/COMCardList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMCardNested.xsd" />

	<xsd:element name="COMCardListData" type="OpenCmsCOMCardListData"/>

	<xsd:complexType name="OpenCmsCOMCardListData">
		<xsd:sequence>
			<xsd:element name="COMCardList" type="OpenCmsCOMCardList" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMCardList">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1" />		
			<xsd:element name="Card" type="OpenCmsCOMCardNested" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
		    <resourcebundles>
                <propertybundle name="it.coranto.comuni.workplace" />
            </resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
			</mappings>		
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>