it.coranto.comuni/schemas/COMCard.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMImageNested.xsd" />
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMLinkNested.xsd" />

	<xsd:element name="COMCardData" type="OpenCmsCOMCardData"/>

	<xsd:complexType name="OpenCmsCOMCardData">
		<xsd:sequence>
			<xsd:element name="COMCard" type="OpenCmsCOMCard" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMCard">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" />
			<xsd:element name="Abstract" type="OpenCmsHtml" />
			<xsd:element name="Image" type="OpenCmsCOMImageNested" />
			<xsd:element name="Link" type="OpenCmsCOMLinkNested" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
			</mappings>	
			<FieldSettings>
				<Setting>
					<PropertyName>Title</PropertyName>					
					<Widget>string</Widget>
					<Default>Inserire titolo del sito</Default>
					<RuleRegex>.{0,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Massimo 70 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Abstract</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link,anchor,source,table</WidgetConfig>
				</Setting>
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>