it.coranto.comuni/schemas/COMDisservice.xsd

	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

		<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMOnlineRequestNested.xsd"/>

		<xsd:element name="COMDisserviceData" type="OpenCmsCOMDisserviceData"/>

		<xsd:complexType name="OpenCmsCOMDisserviceData">
			<xsd:sequence>
				<xsd:element name="COMDisservice" type="OpenCmsCOMDisservice" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="OpenCmsCOMDisservice">
			<xsd:sequence>
				<xsd:element name="Title" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ServiceState" type="OpenCmsBoolean" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ServiceStateMotivation" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Abstract" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="WhoNeeds" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Description" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="HowTo" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Needed" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Obtain" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Deadline" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Cost" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="SubmitRequestOnline" type="OpenCmsCOMOnlineRequestNested" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Condition" type="OpenCmsVarLink" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Otherdoc" type="OpenCmsVarLink" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="OrganizationUnitParent" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ContactPoint" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded"/>		
				<xsd:element name="Argument" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
		</xsd:complexType>

		<xsd:annotation>
			<xsd:appinfo>
				<resourcebundles>
					<propertybundle name="it.coranto.comuni.workplace"/>
				</resourcebundles>
				<mappings>
					<mapping element="Title" mapto="property:Title"/>
					<mapping element="Title" mapto="urlName"/>
				</mappings>
				<FieldSettings>
					<Setting>
						<PropertyName>Title</PropertyName>
						<Widget>string</Widget>
						<RuleRegex>.{0,70}</RuleRegex>
						<RuleType>Error</RuleType>
						<Error>Massimo 70 caratteri</Error>
					</Setting>
					<Setting>
						<PropertyName>ServiceStateMotivation</PropertyName>
						<Widget>HtmlWidget</Widget>
						<Default>Servizio momentaneamente disattivato perché....Servizio attivo dal...</Default>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>Abstract</PropertyName>
						<Widget>string</Widget>
						<RuleRegex>.{0,160}</RuleRegex>
						<RuleType>Error</RuleType>
						<Error>Massimo 160 caratteri</Error>
					</Setting>
					<Setting>
						<PropertyName>WhoNeeds</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>Description</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>HowTo</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link,</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>Needed</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>Obtain</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>Deadline</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>Cost</PropertyName>
						<Widget>HtmlWidget</Widget>
						<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>OrganizationUnitParent</PropertyName>
						<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
						<WidgetConfig>folderUUIDKeys=/.content/COMOrganizationUnit/|valueName=Title|language=it</WidgetConfig>
					</Setting>
					<Setting>
						<PropertyName>ContactPoint</PropertyName>
						<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
						<WidgetConfig>folderUUIDKeys=/.content/COMContactPoint|valueName=Title|language=it</WidgetConfig>
					</Setting>

					<Setting>
						<PropertyName>Argument</PropertyName>
						<Widget>it.coranto.widgets.DynamicMultiSelectWidget</Widget>
						<WidgetConfig>folderName=/.content/COMArgument/|keyName=Title|valueName=Title|language=it</WidgetConfig>
						<RuleRegex>.+</RuleRegex>
						<RuleType>Error</RuleType>
						<Error>È necessario selezionare almeno un argomento</Error>
					</Setting>
				</FieldSettings>
			</xsd:appinfo>
		</xsd:annotation>

	</xsd:schema>
