it.coranto.comuni/schemas/COMFAQ.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:element name="COMFAQData" type="OpenCmsCOMFAQData"/>

	<xsd:complexType name="OpenCmsCOMFAQData">
		<xsd:sequence>
			<xsd:element name="COMFAQ" type="OpenCmsCOMFAQ" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMFAQ">
		<xsd:sequence>
			<xsd:element name="Question" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Answer" type="OpenCmsHtml" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Question" mapto="property:Title" />
				<mapping element="Question" mapto="urlName" />
			</mappings>	
			<FieldSettings>				
				<Setting>
					<PropertyName>Question</PropertyName>
					<Widget>TextareaWidget</Widget>
					<RuleRegex>.{1,160}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 160 caratteri</Error>
				</Setting>			
				<Setting>
					<PropertyName>Answer</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
			</FieldSettings>
			<searchsettings>
				<searchsetting element="Question">
					<solrfield targetfield="Question" />
				</searchsetting>
				<searchsetting element="Answer">
					<solrfield targetfield="Answer" />
				</searchsetting>
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>