it.coranto.comuni/schemas/COMIdentity.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="COMIdentityData" type="OpenCmsCOMIdentityData"/>

	<xsd:complexType name="OpenCmsCOMIdentityData">
		<xsd:sequence>
			<xsd:element name="COMIdentity" type="OpenCmsCOMIdentity" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMIdentity">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Address" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="PostalCode" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Town" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="VATNumber" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="FiscalCode" type="OpenCmsBoolean" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
				<mapping element="Title" mapto="urlName" />
			</mappings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>