it.coranto.comuni/schemas/COMImage.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="COMImageData" type="OpenCmsCOMImageData"/>

	<xsd:complexType name="OpenCmsCOMImageData">
		<xsd:sequence>
			<xsd:element name="COMImage" type="OpenCmsCOMImage" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMImage">
		<xsd:sequence>
			<xsd:element name="Image" 		type="OpenCmsVfsFile" 		minOccurs="1" 		maxOccurs="1" />	
			<xsd:element name="Description" 		type="OpenCmsString" 		minOccurs="1" 		maxOccurs="1" />	
			<xsd:element name="Caption" 		type="OpenCmsString" 		minOccurs="0" 		maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Description" mapto="property:Title" />
				<mapping element="Description" mapto="urlName" />
			</mappings>
			<FieldSettings>
				<Setting>
					<PropertyName>Image</PropertyName>
					<Widget>imagegallery</Widget>
					<WidgetConfig>{useformat:true,startup: '/.content/.galleries/'}</WidgetConfig>
					<Search>false</Search>
				</Setting>
				<Setting>
					<PropertyName>Description</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{1,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 70 caratteri</Error>
				</Setting>    
				<Setting>
					<PropertyName>Caption</PropertyName>
					<Widget>string</Widget>
				</Setting>  
			</FieldSettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>