it.coranto.comuni/schemas/COMNews.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMImageNested.xsd" />

	<xsd:element name="COMNewsData" type="OpenCmsCOMNewsData"/>

	<xsd:complexType name="OpenCmsCOMNewsData">
		<xsd:sequence>
			<xsd:element name="COMNews" type="OpenCmsCOMNews" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMNews">
		<xsd:sequence>
			<xsd:element name="Type" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1" />			
			<xsd:element name="Abstract" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Date" type="OpenCmsDateTime" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Argument" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Image" type="OpenCmsCOMImageNested" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Text" type="OpenCmsHtml"  minOccurs="1" maxOccurs="1" />
			<xsd:element name="Attachment" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="By" type="OpenCmsString" minOccurs="1" maxOccurs="1" />		
			<xsd:element name="ExpirationDate" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace" />
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
				<mapping element="Title" mapto="urlName" />
			</mappings>	
			<layouts>
				<layout element="Date" widget="datetime" configuration='{fixedTime: "00:00"}' />
			</layouts>
			<defaults>
				<default element="Date" value="${currenttime}"/>
			</defaults>
			<FieldSettings>				
				<Setting>
					<PropertyName>Type</PropertyName>
					<Widget>SelectorWidget</Widget>
					<WidgetConfig>notizia:Notizia|comunicatostampa:Comunicato stampa|avviso:Avviso</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Title</PropertyName>					
					<Widget>string</Widget>
					<Default>Inserire titolo news</Default>
					<RuleRegex>.{1,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 70 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Abstract</PropertyName>
					<Widget>TextareaWidget</Widget>
					<RuleRegex>.{1,160}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 160 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Argument</PropertyName>
					<Widget>it.coranto.widgets.DynamicMultiSelectWidget</Widget>
					<WidgetConfig>folderName=/.content/COMArgument/|keyName=Title|valueName=Title|language=it </WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>Attachment</PropertyName>
					<Widget>file</Widget>
					<WidgetConfig>{useformat:true,startup: '/.content/.galleries/documents'}</WidgetConfig>
					<Search>false</Search>
				</Setting>
				<Setting>
					<PropertyName>Text</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>By</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMOrganizationUnit/|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>ExpirationDate</PropertyName>
					<Widget>string</Widget>
					<Default>90</Default>
					<Display>singleline</Display>
				</Setting>
			</FieldSettings>
			<searchsettings>			
				<searchsetting element="Type">
					<solrfield targetfield="Type" />
				</searchsetting>
				<searchsetting element="Abstract">
					<solrfield targetfield="Abstract" />
				</searchsetting>
				<searchsetting element="Date">
					<solrfield targetfield="Date" sourcefield="*_dt" />
				</searchsetting>
				<searchsetting element="Argument">
					<solrfield targetfield="Argument" />
				</searchsetting>
				<searchsetting element="Image/Image">
					<solrfield targetfield="Image" />
				</searchsetting>
				<searchsetting element="Image/Title">
					<solrfield targetfield="ImageTitle" />
				</searchsetting>
				<searchsetting element="Image/Description">
					<solrfield targetfield="ImageDescription" />
				</searchsetting>
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>