it.coranto.comuni/schemas/COMNewsList.xsd

	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		<xsd:element name="COMNewsListData" type="OpenCmsCOMNewsListData"/>
		<xsd:complexType name="OpenCmsCOMNewsListData">
			<xsd:sequence>
				<xsd:element name="COMNewsList" type="OpenCmsCOMNewsList" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="OpenCmsCOMNewsList">
			<xsd:sequence>
				<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
				<xsd:element name="TypesToCollect" type="OpenCmsDisplayFormatter" minOccurs="1" maxOccurs="1" />
				<xsd:element name="Folder" type="OpenCmsVfsFile" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="ResourceObject" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
				<xsd:element name="Category" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
		</xsd:complexType>
		<xsd:annotation>
			<xsd:appinfo>
				<resourcebundles>
					<propertybundle name="it.coranto.comuni.workplace" />
				</resourcebundles>
				<layouts>
					<layout element="TypesToCollect" widget="DisplayTypeSelectWidget"
							configuration="template.display.types|matchTypes" />
				</layouts>
				<FieldSettings>
					<Setting>
						<PropertyName>ResourceObject</PropertyName>					
						<Widget>string</Widget>
						<Default>risultati trovati</Default>
					</Setting>
					<Setting>
						<PropertyName>Category</PropertyName>					
						<Visibility>Administrators</Visibility>
					</Setting>
				</FieldSettings>
				<searchsettings containerPageOnly="true">
					<searchsetting element="TypesToCollect" searchcontent="false" />
				</searchsettings>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:schema>










