it.coranto.comuni/schemas/COMOrganizationUnit.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="COMOrganizationUnitData" type="OpenCmsCOMOrganizationUnitData"/>

	<xsd:complexType name="OpenCmsCOMOrganizationUnitData">
		<xsd:sequence>
			<xsd:element name="COMOrganizationUnit" type="OpenCmsCOMOrganizationUnit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMOrganizationUnit">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Abstract" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Argument" type="OpenCmsString" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Competency" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="OrganizationType" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="OrganizationUnitParent" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Person" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Service" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Venue" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ContactPoint" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Attachment" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace"/>
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title"/>
				<mapping element="Title" mapto="urlName"/>
			</mappings>
			<FieldSettings>
				<Setting>
					<PropertyName>Title</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{1,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 70 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Abstract</PropertyName>
					<Widget>TextareaWidget</Widget>
					<RuleRegex>.{1,160}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 160 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Argument</PropertyName>
					<Widget>it.coranto.widgets.DynamicMultiSelectWidget</Widget>
					<WidgetConfig>folderName=/.content/COMArgument/|keyName=Title|valueName=Title|language=it</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Competency</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>OrganizationType</PropertyName>
					<Widget>SelectorWidget</Widget>
					<WidgetConfig>
						area:Area|ufficio:Ufficio|giuntacomunale:Giunta comunale|consigliocomunale:Consiglio comunale|commissione:Commissione|
						biblioteca:Biblioteca|museo:Museo|aziendamunicipalizzata:Azienda municipalizzata|ente:Ente|fondazione:Fondazione|
						centroculturale:Centro culturale|scuola:Scuola
					</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>OrganizationUnitParent</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMOrganizationUnit/|valueName=Title|language=it</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Person</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMPublicPerson/|valueName=Fullname|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>Service</PropertyName>
					<Widget>it.coranto.widgets.DynamicMultiSelectWidget</Widget>
					<WidgetConfig>folderName=/.content/COMService/|keyName=Title|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Warning</RuleType>
					<Error>Valore obbligatorio se la pagina è un ufficio</Error>
				</Setting>
				<Setting>
					<PropertyName>Venue</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderName=/.content/COMVenue/|keyName=Name|valueName=Name|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>ContactPoint</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMContactPoint|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>Attachment</PropertyName>
					<Widget>file</Widget>
					<WidgetConfig>{useformat:true,startup: '/.content/.galleries/documents'}</WidgetConfig>
					<Search>false</Search>
				</Setting>
			</FieldSettings>
			<searchsettings>
				<searchsetting element="Abstract">
					<solrfield targetfield="Abstract" />
				</searchsetting>
				<searchsetting element="Venue">
					<solrfield targetfield="Venue" />
				</searchsetting>
				<searchsetting element="OrganizationType">
					<solrfield targetfield="OrganizationType" />
				</searchsetting>
				<searchsetting element="Person">
					<solrfield targetfield="Person" />
				</searchsetting>
				<searchsetting element="Argument">
					<solrfield targetfield="Argument" />
				</searchsetting>
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>
