it.coranto.comuni/schemas/COMPublicPerson.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMPosition.xsd"/>


	<xsd:element name="COMPublicPersonData" type="OpenCmsCOMPublicPersonData"/>

	<xsd:complexType name="OpenCmsCOMPublicPersonData">
		<xsd:sequence>
			<xsd:element name="COMPublicPerson" type="OpenCmsCOMPublicPerson" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMPublicPerson">
		<xsd:sequence>
			<xsd:element name="Fullname" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Assignment" type="OpenCmsCOMPosition" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Competency" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Organization" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="ContactPoint" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="TaxReturn" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ElectoralExpenses" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ChangesInEquity" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace"/>
			</resourcebundles>
			<mappings>
				<mapping element="Fullname" mapto="property:Title"/>
				<mapping element="Fullname" mapto="urlName"/>
			</mappings>
			<FieldSettings>
				<Setting>
					<PropertyName>Fullname</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{1,140}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 140 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>Assignment</PropertyName>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>Competency</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Organization</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMOrganizationUnit/|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>ContactPoint</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMContactPoint|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>TaxReturn</PropertyName>
					<Widget>file</Widget>
					<WidgetConfig>{useformat:true,startup: '/.content/.galleries/documents'}</WidgetConfig>
					<Search>false</Search>
				</Setting>
				<Setting>
					<PropertyName>ElectoralExpenses</PropertyName>
					<Widget>file</Widget>
					<WidgetConfig>{useformat:true,startup: '/.content/.galleries/documents'}</WidgetConfig>
					<Search>false</Search>
				</Setting>
				<Setting>
					<PropertyName>ChangesInEquity</PropertyName>
					<Widget>file</Widget>
					<WidgetConfig>{useformat:true,startup: '/.content/.galleries/documents'}</WidgetConfig>
					<Search>false</Search>
				</Setting>
			</FieldSettings>
			<searchsettings>
				<searchsetting element="Assignment/Title">
					<solrfield targetfield="Assignment" />
				</searchsetting>
				<searchsetting element="Assignment/Type">
					<solrfield targetfield="AssignmentType" />
				</searchsetting>
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>