it.coranto.comuni/schemas/COMService.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMOnlineRequestNested.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/it.coranto.comuni/schemas/nested/COMOfficeRequestNested.xsd"/>

	<xsd:element name="COMServiceData" type="OpenCmsCOMServiceData"/>

	<xsd:complexType name="OpenCmsCOMServiceData">
		<xsd:sequence>
			<xsd:element name="COMService" type="OpenCmsCOMService" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsCOMService">
		<xsd:sequence>
			<xsd:element name="Category" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ServiceState" type="OpenCmsBoolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ServiceStateMotivation" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Abstract" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="WhoNeeds" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Description" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="HowTo" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Needed" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Obtain" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Deadline" type="OpenCmsHtml" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Cost" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SubmitRequestOnline" type="OpenCmsCOMOnlineRequestNested" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SubmitRequestOffline" type="OpenCmsCOMOfficeRequestNested" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="FurtherInformation" type="OpenCmsHtml" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Condition" type="OpenCmsVarLink" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Otherdoc" type="OpenCmsVarLink" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrganizationUnitParent" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ContactPoint" type="OpenCmsString" minOccurs="1" maxOccurs="unbounded"/>		
			<xsd:element name="Argument" type="OpenCmsString" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
				<propertybundle name="it.coranto.comuni.workplace"/>
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title"/>
				<mapping element="Title" mapto="urlName"/>
			</mappings>
			<FieldSettings>
				<Setting>
					<PropertyName>Category</PropertyName>
					<Widget>SelectorWidget</Widget>
					<WidgetConfig>
						educazioneeformazione:Educazione e formazione|salutebenessereeassistenza:Salute, benessere e assistenza|vitalavorativa:Vita lavorativa|mobilitaetrasporti:Mobilità e trasporti|
						catastoeurbanistica:Catasto e urbanistica|anagrafestatocivile:Anagrafe e stato civile|turismo:Turismo|giustiziasicurezzapubblica:Giustizia e sicurezza pubblica|
						tributifinanzecontravvenzioni:Tributi, finanze e contravvenzioni|culturatempolibero:Cultura e tempo libero|ambiente:Ambiente|impreseecommercio:Imprese e commercio|
						autorizzazioni:Autorizzazioni|appaltipubblici:Appalti pubblici|agricolturapesca:Agricoltura e pesca
					</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>Title</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{1,70}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 70 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>ServiceStateMotivation</PropertyName>
					<Widget>HtmlWidget</Widget>
					<Default>Servizio momentaneamente disattivato perché....Servizio attivo dal...</Default>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Abstract</PropertyName>
					<Widget>string</Widget>
					<RuleRegex>.{1,160}</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio, massimo 160 caratteri</Error>
				</Setting>
				<Setting>
					<PropertyName>WhoNeeds</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Description</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>HowTo</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link,</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Needed</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Obtain</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Deadline</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>Cost</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>FurtherInformation</PropertyName>
					<Widget>HtmlWidget</Widget>
					<WidgetConfig>importcss,css:/system/modules/it.coranto.comuni/resources/css/main.css,link</WidgetConfig>
				</Setting>
				<Setting>
					<PropertyName>OrganizationUnitParent</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMOrganizationUnit/|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>ContactPoint</PropertyName>
					<Widget>it.coranto.widgets.DynamicSelectWidget</Widget>
					<WidgetConfig>folderUUIDKeys=/.content/COMContactPoint|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
				<Setting>
					<PropertyName>Argument</PropertyName>
					<Widget>it.coranto.widgets.DynamicMultiSelectWidget</Widget>
					<WidgetConfig>folderName=/.content/COMArgument/|keyName=Title|valueName=Title|language=it</WidgetConfig>
					<RuleRegex>.+</RuleRegex>
					<RuleType>Error</RuleType>
					<Error>Valore obbligatorio</Error>
				</Setting>
			</FieldSettings>
			<searchsettings>
				<searchsetting element="Category">
					<solrfield targetfield="Category" />
				</searchsetting>
				<searchsetting element="Abstract">
					<solrfield targetfield="Abstract" />
				</searchsetting>
				<searchsetting element="Argument">
					<solrfield targetfield="Argument" />
				</searchsetting>
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>
